@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;1,400&family=Baloo+2:wght@600&display=swap');

body {
    margin: 0;
    background-color: #181432;
    color: white;
    font-family: 'Inter', sans-serif;
}

.sidebar-container {
    position: fixed;
    width: 256px;
    height: 960px;
    border-right: 2px solid #493073;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar-header {
    font-family: 'Baloo 2', sans-serif;
    font-size: 32px;
    height: 65px;
    align-items: center;
}

.sidebar-item {
    padding: 8px 16px;
    font-size: 16px;
    width: 208px;
    height: 40px;
    border-radius: 8px;
}

.sidebar-item.active {
    background-color: #7649CF;
}

.sidebar-item.active > .nav-label {
    font-weight: bolder;
}

header {
    position: fixed;
    left: 256px;
    width: 1184px;
    height: 130px;
    padding: 22px 66px;
    color: #B996FF;
}

.header-options {
    display: flex;
}

.search-bar {
    width: 405px;
    background-color: #181432;
    border: 1px solid  #493073;
    border-radius: 8px;
}

.search-bar input {
    border: none;
    width: 341px;
    height: 24px;
    color: inherit;
    background-color: inherit;
    box-sizing: border-box;
}

.search-bar input::placeholder {
    color: inherit;
}

.filter-button {
    width: 102px;
    height: 40px;
    color: inherit;
    background-color: inherit;
    border: 1px solid  #493073;
    border-radius: 8px;
}

.page-content {
    position: fixed;
    left: 256px;
    top: 130px;
    padding-left: 66px;
}

h2 {
    color: #B996FF;
    font-weight: bold;
    font-size: 24;
}

table {
    width: 1053px;
    height: 361px;
    scroll-behavior: smooth;
}