<header>
    <div class="header-options">
        {% if header.hasSearchBar %}
            <div class="search-pannel">
                {% set ICON_PATH = "../../assets/icons/" %}
                <div class="search-bar">
                    {% include ICON_PATH ~ "search-icon.svg" %}
                    <input type="text" placeholder="Search programs...">
                </div>

                <button class="filter-button">
                    {% include ICON_PATH ~ "filter-icon.svg" %}
                    Filter
                </button>
            </div>
        {% endif %}

        {% if header.hasViewModes %}
            <form class="view-mode-selector">
                {% for mode in header.viewModes %}
                    {% set mode_id = 'view-mode-' ~ loop.index %}
                    <input type="radio" name="view-mode" id="{{mode_id}}" {% if loop.first %}checked{% endif %}>
                    <label for="{{mode_id}}">
                        {% include ICON_PATH ~ mode.icon %}
                    </label>
                {% endfor %}
            </form>          
        {% endif %}
    </div>
    

    <h1 class="screen-title">{{ header.title }}</h1>
</header>