<div class="monitored-programs">
    <table>
        <thead>
            <tr>
                {% for header in tableHeaders %}
                    <th {% if header == 'Icon' %} class="icon-header"{% endif %}>
                        {{ header }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for program in monitoredProgramsReport %}
                <tr>
                    {% for header in tableHeaders %}
                        <td>
                            {{ program[header] }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>