<div class="monitored-programs">
    <table>
        <thead>
            <tr>
                {% for header in tableHeaders %}
                    <th {% if header.value == 'icon' %} class="icon-header"{% endif %}>
                        {{ header.name }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for program in monitoredPrograms %}
                <tr>
                    {% for header in tableHeaders %}
                        <td>
                            {% if program[header.value] %}
                                {{ program[header.value] }}
                            {% else %}
                                {{ program.header.placeholder }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>