<div class="monitored-programs">
    <table>
        <thead>
            <tr>
                {% for header in tableHeaders %}
                    <th>{{ header.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for program in monitoredProgramsReport %}
                <tr>
                    {% for header in tableHeaders %}
                        <td>
                            {% if header.name == "Active" %}
                                <div class="is-program-active
                                {% if program[header.name] == true %}
                                    yes
                                {% else %}
                                    no
                                {% endif %}"></div>
                            {% else %}
                                {{ program[header.name] }}{% if header.unit %}{{ header.unit }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>