<div class="monitored-programs">
    <table>
        <thead>
            <tr>
                {% for header in tableHeaders %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for program in monitoredProgramsReport %}
                <tr>
                    {% for header in tableHeaders %}
                        <td>
                            {% if header == "Active" %}
                                <div class="is-program-active
                                {% if program[header] == true %}
                                    yes
                                {% else %}
                                    no
                                {% endif %}"></div>
                                {% else %}
                                     {{ program[header] }}
                                {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>