<div class="sidebar-item {% if item.isActive %}active{% endif %}"
    data-page="{{ item.pageName }}"
    >
    <span class="sidebar-item-icon">
        {% include item.icon %}
    </span>

    {% if sidebarExpanded %}
        <span class="sidebar-item-label">{{ item.label }}</span>
    {% endif %}
</div>