<div class="sidebar-nav-item {% if item.isActive %}active{% endif %}"
    data-page="{{ item.pageName }}"
    >
    <span class="nav-icon">
        {% include "../assets/icons/" ~ item.icon ~ ".svg" %}
    </span>

    {% if isSidebarExpanded %}
        <span class="nav-label">{{ item.label }}</span>
    {% endif %}
</div>