{% extends "../base.twig" %}
{% block content %}
    <h2>Main dashboard</h2>
    {% include "../components/_dashboard.twig" %}
    <h2>Monitored programs</h2>
    {% include "../components/_programs_list.twig" %}
{% endblock %}