{% extends "../base.twig" %}
{% block content %}
    <h2>General Settings</h2>
    
    <div class="settings-section">
        <h3>Appearance</h3>
    </div>
    
    <div class="settings-section">
        <button id="reset-settings" class="reset-button">Reset to Defaults</button>
    </div>
{% endblock %}