{% extends "../base.twig" %}
{% block content %}
    <h2>Colour Themes</h2>
    <p>Personalize the app as you wish!</p>

    <div class="themes-container">
        {% for theme in colorThemes %}
            <div class="theme" id="{{ theme.name }}"></div>
        {% endfor %}
    </div>
{% endblock %}