{% extends "../base.twig" %}
{% block content %}
    <h2>Colour Themes</h2>
    <p>Personalize the app as you wish!</p>

    <div class="themes-container">
        {% for theme in colorThemes %}
            <div class="tooltip">
                <span class="tooltiptext">
                    {{ theme.theme_tag }}
                </span>
                <div class="theme" id="{{ theme.name }}"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}