{% include "./components/_titlebar.twig" %}
{% include "./components/_sidebar.twig" %}

<div class="main-wrapper">
    {% include "./components/_header.twig" %}
    <div class="page-content">
        {% block content %}
        {% endblock %}
    </div>
</div>